* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 .body,h1,h2,h3,h4,h5 {
   font-family: "Raleway", sans-serif;
 }

.corpo {
  background-color: rgba(220,220,220);
}

.titulo {
  text-align: center;
  padding-top: 32px;
  margin: auto;
  width: 50%;
  padding: 10px;
}

.w3-row{
  display: grid;
}

.entries{
  width: 3
}

.w3-tag{
  background-color: rgba(0,0,0);
  color: #fcfcfc;
}

